.resources > div {
  margin-bottom: 1rem;
}

.resource-card {
  align-items: center;
  text-align: center;
  padding: 0.5rem;
  height: 100%;
}

.resource-card:hover {
  cursor: pointer;
  background-color: lightgrey;
}

.resource-card img {
  margin: 0.5rem;
  width: 80%;
}

.tooltip-inner {
  max-width: 500px;
}

.no-deco {
  text-decoration: none;
  color: inherit;
}
